h1 {
  font-family: "Poppins", sans-serif;
  color: #005689;
  font-size: 80px;
}
.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  border: 1px solid #007cb9;
  border-radius: 6px;
}
.search-name {
  background-color: #d5eeff;
  border: none;
}

.search-button {
  background-color: #007cb9;
  color: #007cb9;
}

h6 {
  color: #007cb9;
}

.temp {
  color: #8946a6;
  font-size: 30px;
}

.chose-city {
  display: block;

  margin-top: 40px;

  border-color: #8946a6;
  color: #7c73e6;
  border-radius: 4px;
}
.chose-city :focus {
  background-color: lightblue;
  color: #7c73e6;
  border-radius: 4px;
}
.chosen-city {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #c8e3d4;
  text-align: center;
  transition: all 0.5s ease-out;
}

.smog {
  color: grey;
  font-size: 50px;
}
li {
  list-style: none;
  color: #007cb9;
  line-height: 30px;
  font-size: 18px;
  padding-top: 20px;
}
.first {
  color: #ff895d;
  font-size: large;
  background-color: #d5eeff;
  border-radius: 34px;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-right: 2px;
}
.second {
  color: #ff895d;
  font-size: large;
  background-color: #d5eeff;
  border-radius: 34px;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-right: 2px;
}
.third {
  color: #ff895d;
  font-size: large;
  background-color: #d5eeff;
  border-radius: 34px;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-right: 2px;
}
.fourth {
  color: #ff895d;
  font-size: large;
  background-color: #d5eeff;
  border-radius: 34px;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-right: 2px;
}
.fifth {
  color: #ff895d;
  font-size: large;
  background-color: #d5eeff;
  border-radius: 34px;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 2px;
  margin-right: 2px;
}
img {
  width: 240px;
  padding-top: 22px;
  border-radius: 4px;
}
.outside-weather-app {
  max-width: 600px;
  padding-top: 0px;
}
